#menu {
    z-index: 2;
}

#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: rgb(212, 0, 255);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px)
}

#bar3 {
    transform: translateY(4px);
}

.hamburger {
    transition: 0.3s ease;
    display: none;
}

.hamburger ul {
    padding: 0 22px;
}

.hamburger li {
    list-style: none;
    padding: 12px 0;
}

.hamburger li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.hamburger li a:hover {
    font-weight: bold;
    background-color: green;
}

.menu-bg,
#menu {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1000;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #9805dc, #9805dc);
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-9px) rotateZ(45deg);
}
.change-bg{ 
    width: 520px;
    height: 460px;
    transform: translate(-65%, -20%)
}
@media (min-width: 960px) {
    #menu{
        display: none;
    }
     
}
@media (max-width: 1080px) {
     .nav_menu{
        display: none !important;
     }
}